/*Página de estilos para tabela de imóveis */

* {
  margin: 0;
  box-sizing: border-box;
}

.tabelaImoveis {
  float: left;
  width: 90%;
  margin: 30px 10%;
  text-align: center;
}
.tabelaImoveis thead tr:first-child {
  background: #5bc4bf;
  color: white;
  font-weight: bold;
  line-height: 4.6em;
}
.tabelaImoveis tbody tr:nth-child(2n) {
  background: #ccc;
}
.tabelaImoveis tbody td {
  padding: 5px;
}

.titulo-mostra-tabela {
  margin-left: 155px;
}

.btn-imoveis {
  margin-top: 5px;
}
